#Calculate cosine similarity between symbols and sentences

##0. Setup

In [5]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_distances

##1. Calculate

In [ ]:
symbols = pd.read_csv('symbol_with_embeddings.csv')
sentences = pd.read_csv('sentence_with_embeddings.csv')

In [6]:
# Convert the 'Embedding' column from string representation to numpy arrays
symbol_embedding = np.array(symbols['Embeddings'].apply(eval).tolist())
sentence_embedding = np.array(sentences['Sentence_Embedding'].apply(eval).tolist())

In [7]:
distances = cosine_distances(symbol_embedding, sentence_embedding)

In [8]:
closest_indices = np.argsort(distances, axis=1)[:, :5]

In [9]:
results = []

for i, indices in enumerate(closest_indices):
    closest_embeddings = sentences.iloc[indices]
    for _, row in closest_embeddings.iterrows():
        results.append({
            'Symbol': symbols.iloc[i]['Symbol'],
            'Close Sentence': row['Sentence'],
            'Distance': distances[i, row.name]
        })

# Convert results to DataFrame
results_df = pd.DataFrame(results)

In [10]:
results_df

        Symbol Close Sentence  Distance
0           73             45  0.243583
1           73            265  0.248921
2           73             32  0.257942
3           73             35  0.279004
4           73             35  0.279004
...        ...            ...       ...
36345  무슨과목좋아해    도우미쌤은 안타는데요  0.320404
36346  무슨과목좋아해    일요일은 수업안하죠?  0.333386
36347  무슨과목좋아해    중학생도 수업하지예?  0.342415
36348  무슨과목좋아해          4학년이요  0.345576
36349  무슨과목좋아해          4학년이요  0.345576

[36350 rows x 3 columns]

In [11]:
results_df.to_csv('similarity_check.csv', index=False, encoding='utf-8')